@import '../../styles/abstracts/variables';

.badge {
    background-color: $green;
    width: 55px;
    height: 20px;
    border-radius: 50px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    span {
        color: $white;
        font-size: 0.75rem;
    }
}