@import '../../styles/abstracts/variables';

.button {
    @import 'node_modules/buttono/buttono';

    $buttono-padding: 0.5rem 1rem;
    $buttono-color-alt: #030315;
    $buttono-border-radius: 0.25rem;
    $buttono-transition-duration: 0.2s;

    @include buttono-block($display: inline-flex);

    // Extra styles
    min-height: 3rem;
    align-items: center;
    font-weight: 600;

    &--outline-primary {
        @include buttono-style-modifier(
          $color: $blue,
          $color-disabled: #999,
          $border-width: 0.2rem,
          $border-color: $blue,
          $background-color: transparent,
          $background-color-hover: $blue,
          $border-color-disabled: rgba($blue, 0.5),
        );
      }
}