@import '../../../../../styles/abstracts/variables.scss';

.event-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 2.5rem;

    &__date-header {
        margin-bottom: 1.5rem;

        span {
            color: $mid-grey;
            font-size: 1rem;
        }
    }
}

.event-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $white;
    padding: 1rem;
    height: 150px;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 15px 0px #dbdfe6;
    border-radius: 3px;

    &__title {
        padding-left: 1rem;
        font-weight: 600;
        font-size: 1.3rem;
    }

    & > :first-child {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;  

        > :first-child {
            display: flex;
            align-items: center; 
        }
    }

    & > :nth-child(2) {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: flex-end;

        span {
            font-size: 1rem;
            color: $mid-grey;
        }
    }
}