// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
'Monaco',
monospace !default;





/// Blue
/// @type Color
$blue: hsl(200, 46%, 45%) !default;

/// Green
/// @type Color
$green: hsl(145, 46%, 51%) !default;

///Light grey
/// @type Color
$light-grey: hsl(210, 38%, 95%) !default;

/// Mid grey
/// @type Color
$mid-grey: hsl(216, 15%, 52%) !default;

/// Dark grey
/// @type Color
$dark-grey: hsl(0, 100%, 2%) !default;

/// White
/// @type Color
$white: hsl(0, 0%, 100%) !default;

$branded-red: hsl(10, 61%, 49%) !default;
$branded-orange: hsl(35, 100%, 48%) !default;
$branded-blue: hsl(196, 100%, 34%) !default;

$color-text-primary: $dark-grey;
$color-text-secondary: $mid-grey;
$color-button-primary: $blue;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ('small': 320px,
    'medium': 768px,
    'large': 1024px,
) !default;
 

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;