@import '../../../../styles/abstracts/variables';

@mixin animationTiming {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@mixin animationDuration {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}

@mixin animationIterationCount {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ellipsis-loader {

    //ellipsis-loader
    $p: &;

    position: relative;
    height: 18px;
    width: 60px;

    &__dot {
        border-color: $white;
        border-width: 2px;
        border-style: solid;
        border-radius: 100%;

        -webkit-animation-name: ellipsis-loader-regular;
        animation-name: ellipsis-loader-regular;

        height: 16px;
        width: 16px;
        position: absolute;

        @include animationTiming;
        @include animationDuration;
        @include animationIterationCount;

        &:first-child {
            -webkit-animation-delay: -.5s;
            animation-delay: -.5s;
        }

        &:nth-child(2) {
            -webkit-animation-delay: -.4s;
            animation-delay: -.4s;
        }

        &:nth-child(3) {
            -webkit-animation-delay: -.3s;
            animation-delay: -.3s;
        }
    } 

    &--branded {
        #{$p}__dot {
            &:first-child {
                background-color: $branded-blue;
            }
    
            &:nth-child(2) {
                background-color: $branded-orange;
            }
    
            &:nth-child(3) {
                background-color: $branded-red;
            }
        }
    }

    @-webkit-keyframes ellipsis-loader-regular {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0)
        }

        50% {
            -webkit-transform: translateX(44px);
            transform: translateX(44px)
        }

        to {
            -webkit-transform: translateX(0);
            transform: translateX(0)
        }
    }

    @keyframes ellipsis-loader-regular {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0)
        }

        50% {
            -webkit-transform: translateX(44px);
            transform: translateX(44px)
        }

        to {
            -webkit-transform: translateX(0);
            transform: translateX(0)
        }
    }
}
